<mat-card>
  <mat-card-header>
    <span class="h5">Education</span>
  </mat-card-header>
  <mat-divider class="pb-2" [inset]="true"></mat-divider>
  <mat-spinner [diameter]="30" *ngIf="!loaded"></mat-spinner>
  <mat-card-content *ngIf="loaded">
    <mat-accordion class="accordion">
      <mat-expansion-panel *ngFor="let item of education">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{item?.title}}
          </mat-panel-title>
          <mat-panel-description>
            {{item?.completed}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>{{item?.degree}}</p>
        <p class="institute">{{item?.institute + ", " + item?.location}}</p>
        <ng-container *ngIf="item?.courses">
          <mat-divider [inset]="true"></mat-divider>
            <div class="card-content">
              <p class="font-weight-light">Courses</p>
              <ul class="pt-1">
                <li *ngFor="let class of item?.courses">{{class}}</li>
              </ul>
            </div>
        </ng-container>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>
</mat-card>