.accordion .mat-expansion-panel-header-title,
.accordion .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.card-content{
  margin-bottom: 0;
  & span {
    color: #6e6e6e;
  }
}

.institute {
  color: #6e6e6e;
}


.date {
  color: #6e6e6e;
  font-size: 14px;
}

.accordion .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 760px){
  .accordion .mat-expansion-panel-header-title,
  .accordion .mat-expansion-panel-header-description {
    font-size: 14px;
  }

  .card-content {
    font-size: 14px;
  }
  .accordion .mat-expansion-panel-header-description {
    font-size: 14px;
  }
}

@media screen and (max-width: 640px){
  .accordion .mat-expansion-panel-header-title,
  .accordion .mat-expansion-panel-header-description {
    font-size: 12px;
  }

  .card-content {
    font-size: 12px;
    & ul {
      margin-left: -15px;
    }
  }
  .accordion .mat-expansion-panel-header-description {
    font-size: 12px;
  }
  .date {
    font-size: 12px;
  }
}

@media screen and (max-width: 320px){
  .accordion .mat-expansion-panel-header-title,
  .accordion .mat-expansion-panel-header-description {
    font-size: 10px;
  }

  .card-content {
    font-size: 10px;
    & ul {
      margin-left: -20px;
    }
  }

  .accordion .mat-expansion-panel-header-description {
    font-size: 10px;
  }

  .date {
    font-size: 10px;
  }
}