<div class="card-footer">
    <div class="text-center">
        <div class="ml-2" style="display: inline-block">
            <a href="https://www.linkedin.com/in/rajbir-singh1/" target="_blank"><i class="fa fa-linkedin-square footer-icon"></i></a>
            <a href="https://github.com/rsingh612" target="_blank"><i class="fa fa-github-square footer-icon"></i></a>
            <a href="https://bitbucket.org/rsingh612/" target="_blank"><i class="fa fa-bitbucket-square footer-icon"></i></a>
            <a href="https://twitter.com/rsingh612" target="_blank"><i class="fa fa-twitter-square footer-icon"></i></a>
            <a href="mailto:rsingh612@gmail.com"><i class="fa fa-envelope-square footer-icon"></i></a>
        </div>
    </div>
</div>