<mat-card>
    <mat-card-header>
        <span class="h5">Work History</span>
    </mat-card-header>
    <mat-divider class="pb-2" [inset]="true"></mat-divider>
    <mat-spinner [diameter]="30" *ngIf="!loaded"></mat-spinner>
    <mat-card-content *ngIf="loaded">
        <mat-accordion class="accordion">
            <mat-expansion-panel *ngFor="let work of workHistory">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{work?.jobTitle}}
                    </mat-panel-title>
                    <mat-panel-description>
                        {{work?.employer}}
                    </mat-panel-description>
                </mat-expansion-panel-header>
                 <mat-divider [inset]="true"></mat-divider>
                <div class="card-content" *ngIf="work?.description">
                    <span class="font-weight-light">Responsibilities</span>
                    <ul class="pt-1">
                        <li *ngFor="let resp of work?.description">{{resp}}</li>
                    </ul>
                </div>
                <div class="card-content" *ngIf="work?.achivements">
                    <span class="font-weight-light">Achievements</span>
                    <ng-container  *ngFor="let achieve of work?.achivements">
                        <li *ngIf="achieve !== undefined || achieve !== null">{{achieve}}</li>
                    </ng-container>
                </div>
                <div class="date">
                    {{work?.startDate + " - " + work?.endDate}}
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-card-content>
</mat-card>