<!-- Menu -->
<nav class="navbar fixed-top navbar-dark bg-primary navbar-expand-lg">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <ng-container *ngFor="let item of navigation">
                <a class="nav-item nav-link active" href="{{'#'+item.route}}">{{item.name}}</a>
            </ng-container>
        </div>
    </div>
</nav>
<!-- Content -->
<div data-spy="scroll" data-target="#fullWidthNav" data-offset="0" class="content" style="position: absolute; z-index: -1;">
    <div class="container-fluid pt-2">
        <div class="card custom-card" id="about">
            <app-home></app-home>
        </div>
        <div class="card custom-card" id="experience">
            <app-experience></app-experience>
        </div>
        <div class="card custom-card" id="education">
            <app-education></app-education>
        </div>
        <div class="card custom-card" id="skills">
            <app-skills></app-skills>
        </div>
    </div>
</div>