.custom-nav {
  color: #6c757d;
  padding-top: 2px;
  a {
    color: #6c757d;
  }
  i {
    color: #6c757d;
    font-size: 1.4em;
    margin-right: 2px;
  }
}

.dropdown-item:hover {
  cursor: pointer;
}

.dropdown-nav {
  width: 100%;
  color: #6c757d;
  padding-top: 2px;
  z-index: 100;
  a {
    color: #6c757d;

    &:active {
      background-color: #6c757d;
      color: white;

      i{
        color: white;
      }
    }
  }
  i {
    color: #6c757d;
    font-size: 1.2em;
    margin-right: 2px;
  }

}

.selected {
  border: 2px solid #d9d9d9;
  border-radius: 5px;
  z-index: 100;
  a {
    &:hover {
      cursor: default;
      text-decoration: none;
    }
  }
}

.dropdown-selected {
  background-color: #c6c6c6;
  color: white;
  a {
    &:hover {
      cursor: default;
      text-decoration: none;
    }
  }
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);
}

.content {
  position: fixed;
  top: 48px;
  bottom: 0px;
  left: 0;
  right: 0;
  overflow: auto;
}

.custom-container {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.menu-hidden {
  display: none;
}
@media screen and (max-width: 992px) {
  .content {
    top: 55px;
  }
}

@media screen and (max-width: 768px) {
  .custom-nav {
    color: black;
    padding-top: unset;
  }

  .selected {
    border: unset;
    border-radius: unset;
    a {
      &:hover {
        cursor: default;
        text-decoration: none;
      }
    }
  }
  .media-query {
    display: none;
  }

}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: unset;
}

.nav-link {
  padding: 0px;
}

.dropdown-toggle::after {
  content: unset;
}

.custom-card {
  box-shadow: 2px 2px 5px grey;
  margin-bottom: 10px;
}

.nav-link {
  padding: 5px;
}