<mat-card>
    <mat-card-header>
        <span class="h5">Skills</span>
    </mat-card-header>
    <mat-divider class="pb-2" [inset]="true"></mat-divider>
    <mat-spinner [diameter]="30" *ngIf="!loaded"></mat-spinner>
    <mat-card-content *ngIf="loaded" class="container-fluid">
        <mat-chip-list>
            <div class="row no-gutters">
                <mat-chip class="custom-chip m-1" disabled><div class="col-12">Languages</div></mat-chip>
            </div>
            <div class="row no-gutters container">
                <mat-chip class="skills-chip m-1" *ngFor="let lang of skills?.languages"><div class="col-sm-auto">{{lang}}</div></mat-chip>
            </div>
        </mat-chip-list>
        <hr style="width: 90%;"/>
        <mat-chip-list class="pt-2">
            <div class="row no-gutters">
                <mat-chip class="custom-chip m-1" disabled><div class="col-12">Frameworks</div></mat-chip>
            </div>
            <div class="row no-gutters container">
                <mat-chip class="skills-chip m-1" *ngFor="let framework of skills?.frameworks"><div class="col-sm-auto">{{framework}}</div></mat-chip>
            </div>
        </mat-chip-list>
        <hr style="width: 90%;"/>
        <mat-chip-list class="pt-2">
            <div class="row no-gutters">
                <mat-chip class="custom-chip m-1" disabled><div class="col-12">Operating Systems</div></mat-chip>
            </div>
            <div class="row no-gutters container">
                <mat-chip class="skills-chip m-1" *ngFor="let os of skills?.os"><div class="col-sm-auto">{{os}}</div></mat-chip>
            </div>
        </mat-chip-list>
        <hr style="width: 90%;"/>
        <mat-chip-list class="pt-2">
            <div class="row no-gutters">
            <mat-chip class="custom-chip m-1" disabled><div class="col-12">Tools</div></mat-chip>
            </div>
            <div class="row no-gutters container">
            <mat-chip class="skills-chip m-1" *ngFor="let tool of skills?.tools"><div class="col-sm-auto">{{tool}}</div></mat-chip>
            </div>
        </mat-chip-list>
    </mat-card-content>
</mat-card>