@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

p {
  font-size: 14px;
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}
mat-spinner {
  margin:0 auto;
}

@media screen and (max-width: 720px){
  p {
    font-size: 14px;
  }
}

@media screen and (max-width: 640px){
  p {
    font-size: 12px;
  }
}

@media screen and (max-width: 320px){
  p {
    font-size: 10px;
  }
}

.bg-primary {
  background-color: #3F51B5 !important;
}

.mat-card {
  background-color: #EEEEEE;
}