.portrait {
  width: 150px;
  heigh: 150px;
  margin-bottom: 10px;
}

mat-divider {
  width: 50%;
}


@media screen and (max-width: 800px) {
  .portrait {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
  }
}

.footer-icon {
  color: #3F51B5;
  font-size: 1.5rem;
  padding-bottom: 5px;
  margin-left: 5px;

  &:hover {
    cursor: pointer;
  }
}