<mat-card>
    <mat-card-header>
        <span class="h5">About Me</span>
    </mat-card-header>
    <mat-divider class="pb-2" [inset]="true"></mat-divider>
    <mat-spinner [diameter]="30" *ngIf="!loaded">
    </mat-spinner>
    <mat-card-content *ngIf="loaded" class="text-center text-content text-s">
        <img class="portrait" src="../../assets/raj.png" alt="rajbir's picture">
        <div [innerHtml]="sanitedAboutMessage"></div>
    </mat-card-content>
    <hr style="width: 50%"/>
    <mat-card-footer>
        <div class="text-center">
            <div class="ml-2" style="display: inline-block">
                <a href="https://www.linkedin.com/in/rajbir-singh1/" target="_blank"><i class="fa fa-linkedin-square footer-icon"></i></a>
                <a href="https://github.com/rsingh612" target="_blank"><i class="fa fa-github-square footer-icon"></i></a>
                <a href="https://bitbucket.org/rsingh612/" target="_blank"><i class="fa fa-bitbucket-square footer-icon"></i></a>
                <a href="https://twitter.com/rsingh612" target="_blank"><i class="fa fa-twitter-square footer-icon"></i></a>
                <a href="mailto:rsingh612@gmail.com"><i class="fa fa-envelope-square footer-icon"></i></a>
            </div>
        </div>
    </mat-card-footer>
</mat-card>